html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	background-color: black;
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#sl {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	min-height: 100%;
	font-family: ui-monospace, "Cascadia Mono", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
	white-space: pre;
}

canvas {
	display: none;
	width: 0;
	height: 0;
}
